@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  background-color: #f6f3ff;
  color: #222;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 60px;
}

.header h1 {
  font-size: 28px;
  color: #2d0069;
}

button {
  background-color: #5630d8;
  border-radius: 50px;
  padding: 12px 25px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  color: white;
  margin-right: 25px;
}

button:hover {
  box-shadow: 0 0 8px 3px white;
}

.introducao {
  text-align: center;
  font-size: 20px;
  color: #333;
  margin: 150px auto 30px auto;
  width: 70%;
  line-height: 1.6;
}

.conteudo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  flex-wrap: wrap;
  width: 100%;
}

.normas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  flex: 1;
  min-width: 550px;
}

.card {
  background-color: white;
  border-radius: 15px;
  border-top: 8px solid #7c3aed;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 25px 35px;
  text-align: center;
  width: 85%;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

.card h3 {
  color: #4b0082;
  font-size: 22px;
  margin-bottom: 15px;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
}


.referencias {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0.6;
  gap: 15px;
  margin-top: 40px;
}

.referencias h2 {
  font-size: 26px;
  color: #4b0082;
  margin-bottom: 15px;
}

.nivel {
  border-radius: 20px;
  color: white;
  padding: 20px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.nivel p {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 400;
}

.rodape {
  margin-top: 40px;
  background-color: #f6f3ff;
  color: #401461;
  text-align: center;
  padding: 25px 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.5;
}
