@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: Poppins;
}

a {
    text-decoration: none;
    color: black;
}

/* Container */

.container {
    padding-top: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* KPI */

.container-cards {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.card-info {
    width: 22.5%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background: linear-gradient(150deg, #28155e, #5a47b8);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transição suave*/
    cursor: pointer;
    /*tranforma o ponteiro do mouse para clique*/
}


.card-info:hover {
    transform: translateY(-5px);
    /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    /* Sombra mais forte ao passar o mouse */
}


.card-info span {
    display: flex;
    padding: 5px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-info h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Graficos */

.container-ppm {
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: space-evenly;

}

.container-grafico {
    width: 75%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border-radius: 12px;
    /* Sombra sutil */

}


.grafico {
    border-radius: 12px;
    padding-left: 50px;
    width: 70%;
    height: 350px;
    display: flex;
    align-items: flex-start;
    margin-top: 3%;
    flex-direction: column;

}

.grafico .titulo {
    display: flex;
    font-weight: bolder;
    font-size: 20px;
}

.leitura {
    margin-top: -30px;
    width: 100%;
}

.alerta {
    /* box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);  ESTILO DE SOMBRA ANTIGO*/
    border-radius: 12px;
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

.card-situacao {
    background: linear-gradient(50deg, #28155e, #5a47b8);
    height: max-content;
    width: 25%;
    height: 460px;
    display: flex;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    color: white;
    flex-direction: column;
    justify-content: center;
}

.situacao-conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
}

.situacao-conteudo p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.container-metricas {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* Espaçamento entre os cards */

}

.card-metricas {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Sombra*/
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transição suave */
    cursor: pointer;
}

.card-metricas:hover {
    transform: translateY(-5px);
    /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    /* Sombra mais forte ao passar o mouse */
}

.card-metricas img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.conteudo-metrica {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card-info span {
    margin: 0;
    font-size: 12px;
    opacity: 0.9;
    /* Deixa a descrição um pouco mais translucida*/
}

.metrica-valor {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.card-risco {
    background: linear-gradient(45deg, #d32f2f, #f44336);
}

.card-perigo {
    background: linear-gradient(45deg, #f57c00, #ff9800);
}

.card-alerta {
    background: linear-gradient(45deg, #f5b400, #fbff00);
}

.card-seguro {
    background: linear-gradient(50deg, #28155e, #5a47b8);

}


/* grafico barra e sensor */

.container-grafico-barra {
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.grafico-card-pai {
    background: #ffffff;
    border-radius: 18px;
    padding: 25px;
    width: 45%;
    min-width: 360px;
    height: 380px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.grafico-card-pai:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.grafico-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.container-kpi-grafico {
    width: 100%;
    color: rgba(108, 99, 255, 0.1);

}

.kpi-grafico {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    padding: 12px 20px;
    margin-bottom: 10px;
}

.kpi-img {
    background: linear-gradient(50deg, #28155e, #5a47b8);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 8px rgba(91, 47, 212, 0.3);
}

.kpi-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;

}

.kpi-info span {
    font-size: 16px;
    color: #555;
    font-weight: bold;
    letter-spacing: 0.3px;
    /*Espaço entre as letras*/
}

.kpi-info p {
    font-size: 28px;
    font-weight: bold;
    color: #3b1ca3;
    margin: 0;
}

.grafico-barra,
.grafico-pie {
    width: 100%;
    max-height: 250px;
}

.filtro {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #555;
    font-weight: bold;
    letter-spacing: 0.3px;
    width: 23%;
}

/* Estilo geral para inputs e selects */
.filtro input,
.filtro select {
    background-color: #fff;
    border: 2px solid #3b1ca3;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
    color: #3b1ca3;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}


.filtro select:hover,
.filtro input:hover {
    transform: scale(1.03);
}

.filtro label {
    font-size: 13px;
    color: #555;
    margin-bottom: 3px;
    text-align: right;
    width: 100%;
}


/*Container sensores*/
.container-sensores {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 96%;
    height: 430px;
    margin-top: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Sombra*/
}

.container-sensores-atv {
    width: 50%;
    height: 430px;
    background: linear-gradient(60deg, #28155e, #5a47b8);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.container-add-sensores {
    width: 50%;
    height: 430px;
    background: linear-gradient(300deg, #5a47b8, #28155e);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.titulo-sensor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    width: 38%;
    color: #fff;
}

.titulo-sensor p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.input-card {
    display: flex;
    flex-direction: column;
    width: 86%;
    padding-left: 5%;
}

.card-add-sensor label {
    font-size: 17px;
    margin-bottom: 12px;
    color: #fff;
}

.card-add-sensor input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 18px;
    color: #333;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.card-add-sensor input::placeholder {
    color: #999;
}

.card-add-sensor input:focus {
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
}

.sensor-tabela {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sensor-coluna {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 50px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid white;

}

.sensor-linha {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    font-size: 15px;
    color: #fff;
    border: 2px solid white;
    text-align: center;
}

.sensor-dado {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.sensor-ultimo {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Footer */
.footer {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

