* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


/* Navbar */

.navbar {
    display: flex;
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    z-index: 1;
}

.navbar-titulo {
    width: 50%;
}

.navbar-titulo h2 {
    color: #5a189a;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.navbar-button {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 2%;
}

.navbar-button button {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #5a189a;
    color: #fff;
}


/* Container */

.container {
    padding-top: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* KPI */

.container-cards {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.card-info {
    width: 22.5%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background-color: #5a189a;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transição suave*/
    cursor: pointer;
    /*tranforma o ponteiro do mouse para clique*/
}


.card-info:hover {
    transform: translateY(-5px);
    /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    /* Sombra mais forte ao passar o mouse */
}


.card-info span {
    display: flex;
    padding: 5px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-info h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Graficos */

.container-ppm {
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: space-evenly;

}

.container-grafico {
    width: 75%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */

}


.grafico {
    border-radius: 12px;
    padding-left: 50px;
    width: 70%;
    height: 350px;
    display: flex;
    align-items: flex-start;
    margin-top: 3%;
    flex-direction: column;
}

.grafico .titulo {
    display: flex;
    font-weight: bolder;
    font-size: 20px;
}

.alerta {
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-situacao {
    background-color: #5a189a;
    height: max-content;
    width: 25%;
    height: 460px;
    display: flex;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    flex-direction: column;
    justify-content: center;
}

.situacao-conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
}

.situacao-conteudo p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.container-metricas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Espaçamento entre os cards */
}

.card-metricas {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Sombra*/
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transição suave */
    cursor: pointer;
}

.card-metricas:hover {
    transform: translateY(-5px);
    /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    /* Sombra mais forte ao passar o mouse */
}

.card-metricas img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.conteudo-metrica {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.metrica-descricao {
    margin: 0;
    font-size: 16px;
    opacity: 0.9;
    /* Deixa a descrição um pouco mais*/
}

.metrica-valor {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.card-risco {
    background: linear-gradient(45deg, #d32f2f, #f44336);
}

.card-alerta {
    background: linear-gradient(45deg, #f57c00, #ff9800);
}

.card-seguro {
    background: linear-gradient(45deg, #4e29a7, #5a189a);
}

/*Container sensores*/
.container-sensores {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 96%;
    height: 410px;
    margin-top: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Sombra*/
}

.container-sensores-atv {
    width: 50%;
    height: 410px;
    background-color: #3c096c;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.container-add-sensores {
    width: 50%;
    height: 410px;
    background-color: #5a189a;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.titulo-sensor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    width: 38%;
    color: #fff;
}

.titulo-sensor p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.input-card {
    display: flex;
    flex-direction: column;
    width: 86%;
    padding-left: 5%;
}

.card-add-sensor label {
    font-size: 17px;
    margin-bottom: 12px;
    color: #fff;
}

.card-add-sensor input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 18px;
    color: #333;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.card-add-sensor input::placeholder {
    color: #999;
}

.card-add-sensor input:focus {
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
}

.sensor-tabela {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sensor-coluna {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 50px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid white;
    
}

.sensor-linha {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    font-size: 15px;
    color: #fff;
    border: 2px solid white;
    text-align: center;
}

.sensor-dado {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.sensor-ultimo {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Footer */
.footer {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}