@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
}


.conteudo{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center   ;
    width: 60%;
    height: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 12px; /*Arredonda a borda*/ 
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.subtitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.inp_fat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rebeccapurple;

}
.container-inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.inp_escolha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    width: 100%;
}

.campos_paralisacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.inp_fat input{
width: 80%;
}

